[Desktop Entry]
Type=Application
Name=UMML Manager
GenericName=UM:PD Mod Manager
Comment=Manage mod libraries, profiles, conflicts, and deployment
Exec=umml-manager
Icon=io.github.evelynlimab.ummlmanager
Terminal=false
Categories=Game;Utility;
Keywords=UMML;Mod;Manager;Profiles;GameBanana;Steam;Proton;
StartupNotify=true
